footer {
    background-color: var(--secondary-color);
    padding: 15px 0;
    text-align: center;
    
    font-family: var(--body-font);
  
    p {
      color: rgba(255, 255, 255,0.8);
      margin: 5px 0;
    }
  }